/* import fonts */

.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-fonts{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

 body{
    background-color: #f5f8ff;
 }

/* reusable */
.btn-primary{
    background-color:#4E47FF;
    border-radius: 10px;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 800;
    padding: 12px 36px ;
    border: none;
}

.heading-text{
    font-size:42px;
    font-weight: 800;
    color: #252432;
}
.action-text p{
    font-size: 24px;
    color: #252432;
}
 
/* header banner */
.bg-main{
    background-image: url(../media/Hero-bg.png);
    background-size: auto;
    height: 600px;
    }
/* Nav section */
.nav-section{
    display: flex;
    justify-content: space-around;
}
.h-three{
    font-size: 34px;
    color: #4E47FF;
}
.banner{
    text-align: center;
    margin-top: 158px;
    margin-bottom:152px ;
    
}

.banner h2{
    color:#252432;
    font-weight: 800;
    font-size: 65px;
}

main{
     width: 1140px;
      margin: 0 auto;
}
 
/* action section */

.action-live{
    margin-top: 116px;
}

.action-container{
    display: flex;
    justify-content: space-between;
    gap:23px;
}
.action-text{
    text-align:justify;
}


.img-container{
    border-radius: 48px;
}

/* section for stat */

.third-section{
    margin-top: 116px;
    background-color: #E5E7FF;
    border-radius: 24px;
}
.user-div{
    text-align: center;
    padding: 25px;
     
}
.user-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
.user-description h2{
    color:#4E47FF;
    font-size: 80px;
    font-weight: 800;
     margin-top: 0px;
    margin-bottom: 0px;
}
.heading-tit{
    font-weight: 800;
    font-size: 38px;
}
.user-description{
    font-size: 20px;
    color: #9A9191;
    margin-top: 50px;
}

/* feedback */

.feed-section{
    margin-top: 137px;
}

.main-container{
    display: flex;
    gap: 24px;
}
.feed-head{
    text-align: center;
}
.feedback-container{
    padding: 24px 24px;
    border-radius: 14px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) ;
}

.img-redius{
    border-radius: 50%;
}
.pro-title{
    display: flex;
    gap: 10px;
    align-items: flex-start;

}
.para{
    margin: 0px;
}

/* focus section */

.focus-board{
    text-align: center;
}

.btn-mar{
    margin-bottom: 20px;
}
.wc-img{
    border-radius: 48px;
}
.focus-board{
    background-color: #FFFFFF;
}

.focus-text{
    padding-top: 71px;
}
.focus-banner{
    padding-bottom: 71px;
}

/*contact section */

.contact-div{
    display: flex;
    gap:15px;
}

.head-touch{
    font-size: 97px;
    font-weight: 800;
}

.form-div input[type="text"], input[type="email"], textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    color:#FFFFFF;
    width: 94%;
    padding: 10px 20px;
    margin: 20px auto;
    border:none;
}

.btn-new{
     background-color:#4E47FF;
    border-radius: 10px;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 800;
    width: 100%;
    padding: 12px 36px ;
    border: none;
}

.footer-section{
    margin: auto;
    width: 60%;
}
.text-sec{
    text-align: center;
}
.text-sec p{
    color:#95969b;
}
.list-item ul{
    display: flex;
    gap: 48px;
    justify-content: center;
}

 ul li{
     list-style: none;
}

.list-item ul li a{
    text-decoration: none;
    color:#95969b
}

.footer-section{
    background-color: #FFFFFF;
    padding: 20px ;
    width: auto;
    height: 428px;
}
.h-three-new{
    font-size: 100px;
    color: #4E47FF;
}
.head-last{
    margin-top: 40px;
}